*{
    margin: 0;
    padding: 0;
}

html{
    text-align: center;
    font-family: Poppins, sans-serif;
}
body{
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #0F1016;
    gap:20px;   
    display: flex;
     /* Align elements horizontally - Main Axis*/
     justify-content: center;   
     /* Align elements vertically - Cross Axis*/
     align-items: center; 
}

body-alternative{
    min-height: 800px;
    border: 1px solid black;
    display: flex;
    gap:20px;   
     /* Add responsive align items */
     flex-wrap: wrap; 
     /* Align elements horizontally - Main Axis*/
     justify-content: center;   
     /* Align elements vertically - Cross Axis*/
     align-items: center; 
     /* Control the alignment of all  the lines together*/
     align-content: center; 
}


.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px
}

.container{
    width: min(350px, 100%);
    box-sizing: border-box;
    background-color: #191A20;
    border: 3px solid #4B4C55;
    color: white;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    transition: transform 0.4s ease-in-out;
}

