*{
    margin: 0;
    padding: 0;
}

html{
    text-align: center;
    font-family: Poppins, sans-serif;
    text-align: center;
}
body{
    min-height: 100vh;
    display: flex;
    /* Align elements horizontally - Main Axis*/
    justify-content: center;   
    /* Align elements vertically - Cross Axis*/
    align-items: center; 
    padding: min(50px, 7%);
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px;
    border-bottom: 2px solid #e3e3e3;
}

nav a{
    text-decoration: none;
    color: #929292;
    margin: 0 20px;
    display: inline-block; 
}

nav a:hover{
    color: #000;
    transform: scale(1.1); /* Um aumento menor */
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

nav a.active{
    color: #000;
    font-weight: bold;
}

header{
    padding-top: calc(50px + 1rem + 2px);
}
h1{
    margin-top: 100px;
    font-size: 3.75rem;
    font-weight: bold;
    line-height: 1.2em;
}


body-alternative{
    min-height: 800px;
    border: 1px solid black;
    display: flex;
    gap:20px;   
     /* Add responsive align items */
     flex-wrap: wrap; 
     /* Align elements horizontally - Main Axis*/
     justify-content: center;   
     /* Align elements vertically - Cross Axis*/
     align-items: center; 
     /* Control the alignment of all  the lines together*/
     align-content: center; 
}


